@font-face {
    font-family: 'Josef Rounded';
    src: url('/JosefRounded-Faux-Regular 22-04-2025_freeze.woff2');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Transit Grotesk';
    src: url('/TransitGrotesk-Book.woff2');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}
:root {
    --column-width: 400px;
    --colour-hl: #00D9FF;
    --colour-text: black;
}
body {
    font-family: 'Josef Rounded', Arial, sans-serif;
    font-size: 13px;
    color: black;
    line-height: 1rem;
    background-color: #f5f5f5;
    margin:0;
    overflow: scroll;
    paint-order: stroke;
}
.overlay {
    box-sizing: border-box;
    display:flex;
    position:fixed;
    height:100vh;
    padding:1rem;
    gap:1rem;
    justify-content: space-between;
    width:100%;
}
.side-bar {
    width: 320px;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
p {
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.award>p>a{
    display:block;
    padding-left:17.25px;
    margin-top:0.25rem;
}
.award>p>a:first-letter{
    margin-left:-17.25px;
}
.award>p>a:first-of-type{
    margin-top:0rem;
}

a {
    color:black;
}

.hl1 {
    text-decoration: none;
    opacity: 25%;
}
.hl1:hover, .hl1:active{
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 12%; /* 1.44px */
    text-underline-offset: 12.5%; /* 1.5px */
    text-underline-position: from-font;
    opacity: 100%;
    mix-blend-mode: difference;
}

.hl2:hover, .hl2:active {
    text-decoration: none;
    opacity: 25%;
}
.hl2{
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 12%; /* 1.44px */
    text-underline-offset: 12.5%; /* 1.5px */
    text-underline-position: from-font;
    opacity: 100%;
}
.colour-hl:hover, .hl1.current-page, .hl2.current-page {
    opacity:100%;
    -webkit-text-stroke-color: var(--colour-hl);
    -webkit-text-stroke-width: 1rem;
    stroke-miterlimit: 1;
    color:var(--colour-text);
}

header {
    margin-bottom:1rem;
}
.contact{
    margin-top:1rem;
    display:block;
}
.contact>a{
    display:block;
    width: fit-content;
    padding: 0.125rem 0rem;
}
a.link-empty {
    opacity: 25%;
    text-decoration: none;
    cursor: no-drop;
}

span.title {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 12%; /* 1.44px */
    text-underline-offset: 12.5%; /* 1.5px */
    text-underline-position: from-font;
}
nav>a {
    display:block;
    width: fit-content;
    margin-top:1rem;
}
nav>a~a {
    margin-top:0;
}

#bg-feature, canvas {
    display:block;
    width:60%;
    height:60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position:fixed;
    display:flex;
    cursor: pointer;
    z-index:-1;
}

.left-bar{
    display:flex;
    height:100%;
    gap:1rem;
}
.right-bar {
    float:right;
    height: fit-content;
}

.hide {
    display:none;
    height:250px;
    position:fixed;
    z-index:1;
    pointer-events: none;
}
.hide.vertical {
    height:auto;
    width:250px;
}
.hl1:hover + .hide, .hl2:hover + .hide {
  display: block;
}

#image-container {
    position:absolute;
    display:flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top:16rem;
    padding-bottom:4rem;
}
#image-container>img, #image-container>video{
    width:80vw;
    height: auto;
}
#image-container>img.vertical, #image-container>video.vertical {
    width:60vw;
    height: auto;
}
.ic-text {
    padding: 6rem 18rem;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
}

.text-fade-toggle {
    transition: opacity .25s;
}
.text-fade {
    opacity:20%;
    transition: opacity .25s;
}
.text-fade:hover {
    opacity:100%;
}

#resume-container {
    position:absolute;
    display:flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top:16rem;
    padding-bottom:4rem;
}
#resume {
    width:30vw;
}

#check-out span {
    -webkit-text-stroke: 1rem transparent;
    transition: -webkit-text-stroke-color .25s linear;
}

#check-out span:hover {
    -webkit-text-stroke-color: var(--colour-hl);
    -webkit-text-stroke-width: 10rem;
    stroke-miterlimit: 1;
}

.mobile-overlay {
    display:block;
    font-family: 'Transit Grotesk', Arial, sans-serif;
    font-size: 5vw;
    line-height: 6vw;
    height:fit-content;
    width: fit-content;
    background-color:black;
    color:#f5f5f5;
    font-stretch: expanded;
}
.mobile-overlay p{
    margin-top:4vw;
    -webkit-transform:scale(1,1.1); /* Safari and Chrome */
    -moz-transform:scale(1,1.1); /* Firefox */
    -ms-transform:scale(1,1.1); /* IE 9 */
    -o-transform:scale(1,1.1); /* Opera */
    transform:scale(1,1.1);
}
.mobile-overlay .hl2 {
    color:#f5f5f5;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 10%; /* 1.44px */
    text-underline-offset: 5%; /* 1.5px */
    text-underline-position: from-font;
    opacity: 100%;
}
.mobile-overlay-child {
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    display:flex;
    position:fixed;
    flex-direction: column;

    position:fixed;
    overflow:scroll;
    min-height:100%;
    height:fit-content;
    min-height:100%;
    height:fit-content;
    overflow: scroll;
    padding:6vw;
    gap:6vw;
    width:100%;
    z-index: 99;

}

.seized {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}