@font-face {
    font-family: 'Josef Rounded';
    src: url('JosefRounded-Faux-Regular 22-04-2025_freeze.woff2');
}
:root {
    --column-width: 400px;
}
body {
    font-family: 'Josef Rounded';
    font-size: 13px;
    color: black;
    line-height: 1rem;
    background-color: #f5f5f5;
    margin:0;
    height:100%;
}
.overlay {
    box-sizing: border-box;
    display:flex;
    position:fixed;
    height:100vh;
    padding:1rem;
    gap:1rem;
    justify-content: space-between;
    width:100%;
}
.side-bar {
    width: 360px;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
p {
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.award>p{
    padding-left:17.25px;
}
.award>p:first-letter{
    margin-left:-17.25px;
}
.award>p+p {
    margin-top:0.25rem;
}

a {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 12%; /* 1.44px */
    text-underline-offset: 12.5%; /* 1.5px */
    text-underline-position: from-font;
    color:black;
}
a:hover {
    text-decoration:none;
}
a.reverse-link {
    text-decoration:none;
}
a.reverse-link:hover {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 12%; /* 1.44px */
    text-underline-offset: 12.5%; /* 1.5px */
    text-underline-position: from-font;
    color:black;
}

header {
    margin-bottom:1rem;
}
.header-nav>a {
    text-decoration: none;
    opacity: 30%;
}
.header-nav>a:hover {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 12%; /* 1.44px */
    text-underline-offset: 12.5%; /* 1.5px */
    text-underline-position: from-font;
    opacity: 100%;
}
.header-nav>a:active {
    opacity: 100%;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 12%; /* 1.44px */
    text-underline-offset: 12.5%; /* 1.5px */
    text-underline-position: from-font;
}
.contact{
    margin-top:1rem;
    display:block;
}
.contact>a{
    display:block;
    width: fit-content;
    padding: 0.125rem 0rem;
}
#personal, #blog {
    opacity: 30%;
    text-decoration: none;
    cursor: no-drop;
}
#home {
    opacity:100%;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 12%; /* 1.44px */
    text-underline-offset: 12.5%; /* 1.5px */
    text-underline-position: from-font;
}
#home:hover {
    text-decoration:none;
}

span.title {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 12%; /* 1.44px */
    text-underline-offset: 12.5%; /* 1.5px */
    text-underline-position: from-font;
}
nav>a {
    text-decoration: none;
    display:block;
    width: fit-content;
    margin-top:1rem;
    opacity:30%;
}
nav>a+a {
    margin-top:0;
}
nav>a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 12%; /* 1.44px */
    text-underline-offset: 12.5%; /* 1.5px */
    text-underline-position: from-font;
    opacity:100%;
}

#bg-feature {
    width:60%;
    height:60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position:fixed;
    display:flex;
    
}

.left-bar{
    display:flex;
    height:100%;
    gap:1rem;
}
.right-bar {
    float:right
}